body{
   background-color: grey;
    font-family: 'Glegoo', serif;
    color: white;
    margin-left: 75px;
    margin-right: 75px;
    width: 70%;
}
div{
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    text-align: left;
    font-family: 'Glegoo', serif;
    width: 100%;
    text-align: center;
    background-image: url("../images/smog.jpg");
    position: relative;
}

span{
	font-weight: bold;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}
h1, h4{
	font-weight: bold;
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: 'Glegoo', serif;
}

#playButton{
color: black;
background-color: white;
}

#completedQuiz{
    color: black;
    background-color: white;
    }

#startButton{
    color: black;
        background-color: white;
        width: 12%;
    }

#resetButton{
    color: black;
    background-color: white;
}
img{
    text-align: center;
    float: right;
    padding-left: 30px;
    padding-right: 30px;
    margin-left:  30px;
    border-radius: 40px;
    position: relative;
}
ol{
    list-style-type: disc;
   font-size:70px;
}
